p,
h3 {
  margin: 0;
}

.unassigned-source-page-container {
  max-width: 1280px;
  padding: 20px;
  margin: 0 auto;
}

.unassigned-source-page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(226 232 240);
}

.to-unassigned-sources {
  text-decoration: none;
  flex: 0 0 100%;
}

.uppercase-subheader {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.detections-container {
  background-color: rgba(51, 187, 238, 0.15);
  border-radius: 10px;
  padding: 10px 15px;
  height: fit-content;
}

.unassigned-source-page-header-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.unassigned-source-page-header-container > p {
  margin: 0;
}

.source-heading-id {
  font-weight: 600;
  font-size: 1.2em;
}

.unassigned-source-cards-group {
  margin: 30px 0;
  display: flex;
  column-gap: 30px;
}

.unassigned-source-cards-group:last-child {
  margin-bottom: 10px;
}

.unassigned-source-card-container {
  border: 1px solid rgb(226 232 240);
  border-radius: 10px;
  padding: 20px;
  flex: 1;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.unassigned-plot-wrapper,
.unassigned-aladin-container {
  margin-bottom: 5px;
}

.unassigned-aladin-container {
  margin-top: 10px;
}

.unassigned-source-card-header {
  display: flex;
  justify-content: space-between;
}

.unassigned-list-container {
  margin-top: 10px;
}

.small-txt {
  font-size: 0.9em;
}

.possible-matches-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgb(226 232 240);
}

.possible-matches-container:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.possible-matches-link {
  color: var(--text-so-blue);
  text-decoration-color: #7dd3fc;
}

.margin-top-sm {
  margin-top: 5px;
}

.possible-match-input {
  margin-right: 10px;
}

.unassigned-plot-wrapper {
  position: relative;
  width: 100%;
}

.unassigned-plot-loading {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .unassigned-source-cards-group {
    flex-direction: column;
  }
}

.unassigned-aladin-container {
  width: 100%;
  border-radius: 10px;
  background-color: rgb(241 245 249);
}

.unassigned-aladin-unavailable {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(100 116 139);
}
