.nav-container {
  display: flex;
  align-items: center;
  height: 4em;
  background-color: #dee2e6;
  padding: 2px 10px;
  justify-content: space-between;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-bottom: 1px solid #c4c8cb;
}

.home-link {
  text-decoration: none;
}

.home-link:visited {
  color: black;
}

.home-link > span {
  color: black;
  font-size: 1.5em;
  white-space: nowrap;
}

@media (width <= 900px) {
  .nav-container {
    flex-wrap: wrap;
    height: fit-content;
  }

  .search-container {
    margin: 8px 0;
  }
}
