.nav-container {
  display: flex;
  align-items: center;
  height: 4em;
  background-color: #dee2e6;
  padding: 0 10px;
  justify-content: space-between;
}

.home-link {
  text-decoration: none;
}

.home-link:visited {
  color: black;
}

.home-link > span {
  color: black;
  font-size: 1.5em;
  white-space: nowrap;
}

@media (width <= 900px) {
  .nav-container {
    flex-wrap: wrap;
    height: fit-content;
  }

  .search-container {
    margin: 8px 0;
  }
}
