.range-input-container {
  font-size: 13px;
  margin-left: 1em;
  margin-bottom: 0.5em;
  margin-top: 5px;
}

.range-input-container > p {
  margin: 0;
}

.range-input-container > p > span {
  font-weight: bold;
}
