.table-wrapper {
  width: fit-content;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-size: 0.8rem;
  letter-spacing: 1px;
}

thead {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:first-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

.pagination-container {
  display: flex;
  margin: 0.5em 0;
  font-size: 0.8em;
  align-items: center;
  column-gap: 2.5em;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
}

.pagination-btn {
  font-size: 0.7em;
}

.pagination-btn:disabled {
  cursor: not-allowed;
}

.pagination-details {
  font-size: 0.9em;
}

.pagination-details > span {
  font-weight: bold;
}
