:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(248, 249, 250);
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  padding: 0 10px;
  margin-bottom: 10px;
  max-width: 1440px;
  margin-top: 1.25em;
}

.home-light-curve {
  position: relative;
  width: fit-content;
}

.home-source-link,
.home-source-link:visited {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  background-color: #212529de;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #c0c1c1;
  font-size: 0.8em;
  /* border-radius: var(--search-border-radius); */
  border-radius: 5px;
}

@media (width > 1440px) {
  main {
    align-self: center;
  }
}

.page-not-found-container {
  align-self: flex-start;
}
